@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.account-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: none;
    z-index: 9999;
}

.account-popup.show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.account-popup .account-popup-container {
    position: relative;
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(28, 30, 38, 1);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    padding: 50px 20px 50px 20px;
    word-spacing: 2px;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .account-popup .account-popup-container {
        width: 90%;
        height: auto;
    }
}

.account-popup-container .close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px 4px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.account-popup-container .close-btn:hover {
    background-color: #ec0808;
}

.account-popup-container .login-or-signup-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
    border-radius: 25px;
    border: none;
    outline: 1px solid rgba(138, 126, 126, 0.5);
    box-shadow: 0 0 10px 2px rgba(50, 53, 70, 0.8);
    width: fit-content;
    height: auto;
}

.account-popup-container .login-or-signup-selector button {
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.account-popup-container .login-or-signup-selector button.active {
    color: #1c1e26;
    background-color: #ffffff;
    box-shadow: 0 0 10px -2px #1c1e26;
}

.account-popup-container .login-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
    width: 80%;
}

.account-popup-container .signup-container {
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
    width: 80%;
    display: none;
}

.account-popup-container .signup-container.show {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.account-popup-container .login-container form,
.account-popup-container .signup-container form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.account-popup-container .login-container .input-group,
.account-popup-container .signup-container .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    outline: 2px solid rgba(138, 126, 126, 0.5);
    box-shadow: 0 0 10px 2px rgba(50, 53, 70, 0.8);
    position: relative;
}

.account-popup-container .login-container .input-group input,
.account-popup-container .signup-container .input-group input {
    padding: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    letter-spacing: normal;
    word-spacing: 2px;
    width: 100%;
    border-radius: 10px;
}

.account-popup-container .login-container .input-group input::placeholder,
.account-popup-container .signup-container .input-group input::placeholder {
    color: #ffffff;
}

.account-popup-container .login-container .input-group input:focus,
.account-popup-container .login-container .input-group input:active,
.account-popup-container .signup-container .input-group input:focus,
.account-popup-container .signup-container .input-group input:active {
    outline: 3px solid #ffffff !important;
}

.account-popup-container .login-container .input-group span,
.account-popup-container .signup-container .input-group span {
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.account-popup-container .login-container label,
.account-popup-container .signup-container label {
    width: 100%;
    font-size: 13px;
    color: #ffffff;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    letter-spacing: normal;
    word-spacing: 2px;
    margin: 0;
    padding: 0;
}

.account-popup-container .login-container label a,
.account-popup-container .signup-container label a {
    color: rgba(163, 161, 161, 0.8);
    text-decoration: underline;
    font-weight: 500;
    transition: all 0.3s ease;
}

.account-popup-container .login-container label a:hover,
.account-popup-container .login-container label a:focus,
.account-popup-container .login-container label a:active,
.account-popup-container .signup-container label a:hover,
.account-popup-container .signup-container label a:focus,
.account-popup-container .signup-container label a:active {
    color: #ffffff;
}

.account-popup-container .login-container .input-group button,
.account-popup-container .signup-container .input-group button {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    letter-spacing: normal;
    word-spacing: 2px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.account-popup-container .login-container .input-group button:hover,
.account-popup-container .signup-container .input-group button:hover {
    outline: 3px solid #ffffff !important;
}
